<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="text-center">
        <h1>Le profil de <%= @user.name %></h1>
        <% if @user.photo&.path != nil %>
            <%= cl_image_tag @user.photo&.path, class: "avatar" %>
          <% else %>
            <%= image_tag "unknown_user.png", class: "avatar" %>
          <% end %>
      </div>

    </div>
  </div>
</div>
