<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.5) 50%), url('https://source.unsplash.com/category/buildings/1200x800');">
  <div class="banner-content">
    <h1>Find My Car - WELCOME</h1>
    <p>
      Trouve ta voiture tout près de chez toi !
    </p>

    <a class="btn btn-primary btn-lg">How it works</a>
  </div>
</div>
